# Funzioni

Ogni qual volta il nostro script/software necessita ripetere una certa "logica" più volte in punti diversi dello script stesso allora questo è un segnale che quella porzione di codice debba essere "impacchettata" e "generalizzata" per poter essere richiamata all'occorrenza, senza doverla riscrivere.

Questo è utile per molti motivi:
- La porzione di codice si scrive 1 sola volta.
- Più facile da manutenere. Esempio, vi accorgete che c'era un bug in quella porzione di codice oppure volete apportare una piccola modifica, a quel punto dovreste farlo in tutte le parti del software in cui viene eseguita quella stessa operazione. Nel farlo spesso succede che vi dimenticate di farlo ovunque e vi ritrovate che in alcune parti funziona e in altre no.
- Da una struttura al software e lo rende molto più leggibile. Suddividere logicamente le operazioni che vengono effettuate dal software aiuta a creare "uno scheletro" del proprio software e questo aiuta il suo sviluppo. In più impacchettare pezzi di codice e tenerli separati aiuta la leggibilità per il programmatore che deve capire cosa fa il programma.

## Struttura di una funzione
Si dichiara con "def" poi il nome che volete assegnare poi "()" poi ":"

In [9]:
def my_function():
    print("Ciao")

my_function()
pass

Ciao

Abbiamo visto come l'interprete python esegue il codice riga per riga partendo dalla prima. Quando ci sono definizioni (def) delle funzioni, lui non le esegue subito, "apprende" il fatto che ci siano e passa oltre. In questo caso la prima riga che verrà davvero eseguita sarà "my_function()" e a quel punto python "salterà" alla riga in cui è presente la funzione ed eseguirà tutte le righe al suo interno (print("ciao")) per poi tornare al punto in cui era rimasto, passando alla prossima (pass)

Le funzioni all'interno delle loro "()" possono "accettare" dei "parametri". Questo significa che quando una funzinoe viene "chiamata" sarà necessario inserire delle variabili all'interno delle "()" che la funzinoe stessa ora richiede.
Questa cosa serve per dare in input dei dati alla funzione che userà per elaborare una risposta.

In [ ]:
def my_function(testo):
    testo = testo * 3
    print(testo)

my_function("Ciao")

CiaoCiaoCiao
MaialeMaialeMaiale

I parametri possono essere più di uno. Le variabili che possiamo inserire possono essere moltepicli. Basta ricordare che: se si forniscono delle variabili come parametro alla chiamata a funzione, questi verranno presi in ordine e assegnati secondo quell'ordine:

In [13]:
def my_function(testo_1, testo_2):
    print(testo_1, testo_2)

my_function("Ciao", "come stai?")
# "Ciao" -> testo_1 e "come stai?" -> testo_2 per ordine di inserimento

Ciao come stai?

Infine le funzioni possono effettivamente restituire al chiamate delle altre variabili tramite il comando "return"

In [14]:
def my_somma(numero_1, numero_2):
    risultato = numero_1 + numero_2
    return risultato

somma = my_somma(3, 4)

print(type(somma))
print(somma)

<class 'int'>
7

Per rendere le funzioni più comprensibili all'utente, ci sono diverse cose che si possono aggiungere:
- Una documentazione che spiega cosa fa la funzione, come devono essere i parametri e cosa restituisce.
- Specificare il tipo che i parametri devono avere (numero_1 deve essere un intero)
- Specificare il tipo dell'oggetto che viene restituito (se viene restituito qualcosa) (opzionale python lo capisce da solo)

In [ ]:
def my_somma(numero_1:int, numero_2:int) -> int:
    """
    Esegue la somma tra due numeri. Sia numero_1 che numero_2 devono essere degli interi.
    La funzione restituisce la loro somma come intero.
    """
    risultato = numero_1 + numero_2
    return risultato

print(my_somma(3, 4))

# Pandas

Pandas è la libreria che userete per manipolare i dati.  
Non è una libreria base di python, quindi dovrete installarla tramite il comando "pip install pandas" che potete effettuare da terminale o tramite una cella di code qui sul notebook.  
N.B: Vi ricordo e consiglio di assicurarvi di aver creato il vostro venv prima!

In [ ]:
pip install pandas

### Caricare Dataset e funzioni di base di controllo

Come caricare un "data set" e cioè i dati all'interno di una tabella.

In [40]:
import pandas as pd #Carichiamo la libreria di pandas per poterla usare. Per convenzione si usa l'abbreviazione pd

df = pd.read_csv("remote_postings_clean.csv")   # Carichiamo una tabella in formato csv presente sul vostro pc
print(type(df))

<class 'pandas.core.frame.DataFrame'>

otteniamo un oggetto di tipo "DataFrame" che è il tipo che pandas usa per le sue tabelle

Una volta caricati i dati all'interno di un DataFrame, vediamo i primi metodi che si possono usare:

In [ ]:
df.info()
# Direi sempre la prima cosa da fare. Ci dice quante righe/colonne e ogni colonna di che tipo di dati contiene
# ci dice anche ogni colonna se presenta dei valori mancanti e quanti. E' già una prima analisi da fare!

In [ ]:
df.head()
# Ci stampa in formato tabellare le prime 5 righe. Se inseriamo un numero come parametro possiamo modificare il n di righe
# esempio: df.head(10)

In [ ]:
df.tails()
# Uguale a head ma stampa le ultime 5 righe.

In [ ]:
df.sample()
# Uguale a head ma di base stampa 1 sola riga e inoltre non prende le prime o le ultime ma una a caso!
# Anche qui si può specificare quante: df.sample(5)

Tramite "iloc" possiamo stampare la riga che vogliamo indicando il suo indice, esempio la 2

In [ ]:
df.iloc[2]  # con .iloc[]

Year            2013
IdCountry         IT
IdCity          1007
City         Alpette
%             0,000%
Name: 2, dtype: object

prevede l'utilizzo dello slice come le liste o le stringhe e quindi stampare una serie di righe

In [ ]:
df.iloc[:5]

   Year IdCountry  IdCity       City       %
0  2013        IT    1002    Airasca  0,000%
1  2013        IT    1006     Almese  0,000%
2  2013        IT    1007    Alpette  0,000%
3  2013        IT    1008  Alpignano  0,000%
4  2013        IT    1013  Avigliana  0,000%

Possiamo aggiungere un secondo parametro che sarà l'indice della colonna.  
In questo modo, di fatto, si stampa il valore contenuto in una cella

In [11]:
df.iloc[0, 1]

'IT'

Se non vogliamo usare gli indici numerici riferiti alle colonne, possiamo usare la sua versione "loc":

In [13]:
df.loc[0, "IdCountry"]

'IT'

Ecco un esempio con tutti questi concetti dentro:

In [19]:
df.loc[:4, ["IdCountry", "IdCity"] ] # Stampa prime 5 righe con la lista di colonne data

  IdCountry  IdCity
0        IT    1002
1        IT    1006
2        IT    1007
3        IT    1008
4        IT    1013

Un modo più comune di filtrare le colonne da usare è direttamente inserire dentro le parentesi quadre una lista di stringhe che si riferiscono alle colonne:

In [23]:
df[ ["IdCountry", "IdCity"]  ].head() # Ho lasciato degli spazi per far vedere chiaramente che sono 2 coppie di parentesi quadre

  IdCountry  IdCity
0        IT    1002
1        IT    1006
2        IT    1007
3        IT    1008
4        IT    1013

In generale, quando dovete filtrare:
- Solo righe o Righe+colonne -> iloc[] / loc[]
- Solo Colonne -> le parentesi quadre ( df[colonne] )

### Operazioni base di modifica

Pandas molto spesso si comporta in modo simile ai classici dizionari.  
Ad esempio se volete creare una nuova colonna e assegnare dei valori si può fare come i dizionari, quindi  
richiamando il df con la "chiave" della colonna e assegnare un valore.  
Se la chiave esiste (quindi la colonna esiste) allora i valori all'interno verranno modificati e sostituti a quelli già esistenti.  
Se la chiave non esiste (e quindi una nuova colonna), verrà creata automaticamente con i valori richiesti:

In [41]:
df["nuova_colonna_1"] = 0
df["nuova_colonna_2"] = 0
df["nuova_colonna_3"] = 0

# Ora stampiamo il dataframe e vediamo che compare
df.head()

,Year,IdCountry,IdCity,City,%,nuova_colonna_1,nuova_colonna_2,nuova_colonna_3
0,2013,IT,1002,Airasca,"0,000%",0,0,0
1,2013,IT,1006,Almese,"0,000%",0,0,0
2,2013,IT,1007,Alpette,"0,000%",0,0,0
3,2013,IT,1008,Alpignano,"0,000%",0,0,0
4,2013,IT,1013,Avigliana,"0,000%",0,0,0

Se la vogliamo rimuovere, possiamo usare "drop".  
Attenzione perché drop è generica per righe e colonne, quindi bisogna specificare cosa si sta rimuovendo.  
Per le colonne si può usare "axis=1" (axis=0 sono le righe invece):

In [42]:
df.drop("nuova_colonna_3", axis=1)

,Year,IdCountry,IdCity,City,%,nuova_colonna_1,nuova_colonna_2
0,2013,IT,1002,Airasca,"0,000%",0,0
1,2013,IT,1006,Almese,"0,000%",0,0
2,2013,IT,1007,Alpette,"0,000%",0,0
3,2013,IT,1008,Alpignano,"0,000%",0,0
4,2013,IT,1013,Avigliana,"0,000%",0,0
...,...,...,...,...,...,...,...
62021,2025,IT,110003,Bisceglie,"1,342%",0,0
62022,2025,IT,110006,Minervino Murge,"0,000%",0,0
62023,2025,IT,110008,Spinazzola,"0,000%",0,0
62024,2025,IT,110009,Trani,"2,011%",0,0
62025,2025,IT,110010,Trinitapoli,"0,000%",0,0

ATTENZIONE: praticamente tutte i metodi di pandas, di base non "agiscono" direttamente sull'oggetto in cui le si sta lanciando.  
Ad sempio in questo caso la drop() non sta modificando direttamente il contenuto di "df" ma sta RESTITUENDO come risultato una versione (vista) di "df" con quella modifica.  
Se non si "raccoglie" il risultato all'interno di una variabile (che può essere anche se stessa) la modifica di fatto non avviene.

In [43]:
df.head() # Guardate ancora la colonna c'è ancora

,Year,IdCountry,IdCity,City,%,nuova_colonna_1,nuova_colonna_2,nuova_colonna_3
0,2013,IT,1002,Airasca,"0,000%",0,0,0
1,2013,IT,1006,Almese,"0,000%",0,0,0
2,2013,IT,1007,Alpette,"0,000%",0,0,0
3,2013,IT,1008,Alpignano,"0,000%",0,0,0
4,2013,IT,1013,Avigliana,"0,000%",0,0,0

In [44]:
df_senza_colonna = df.drop("nuova_colonna_3", axis=1) # Se raccogliamo l'esito di drop e lo diamo di nuovo a df
df_senza_colonna.head() # Ora la colonna è stata effettivamente eliminata

   Year IdCountry  IdCity       City       %  nuova_colonna_1  nuova_colonna_2
0  2013        IT    1002    Airasca  0,000%                0                0
1  2013        IT    1006     Almese  0,000%                0                0
2  2013        IT    1007    Alpette  0,000%                0                0
3  2013        IT    1008  Alpignano  0,000%                0                0
4  2013        IT    1013  Avigliana  0,000%                0                0

ovviamente "df" contiene ancora la colonna mentre la nuova variabile "df_senza_colonna" no.  
Ma se volessi semplicemente sovrascrivere il mio "df" con la nuova versione?  
Certo potrei semplicemente assegnarla a lui stesso:

In [45]:
df = df.drop("nuova_colonna_3", axis=1)
df.head()

   Year IdCountry  IdCity       City       %  nuova_colonna_1  nuova_colonna_2
0  2013        IT    1002    Airasca  0,000%                0                0
1  2013        IT    1006     Almese  0,000%                0                0
2  2013        IT    1007    Alpette  0,000%                0                0
3  2013        IT    1008  Alpignano  0,000%                0                0
4  2013        IT    1013  Avigliana  0,000%                0                0

Ma è un operazione così comune che in praticamente tutti i metodi di pandas esiste il parametro "inplace" che  
si può impostare come "True" (di base è settato a False) che fa proprio questo, cioè applica le modifiche sull'oggetto  
che ha richiamato il metodo in questione, come ad esempio drop:

In [46]:
df.drop("nuova_colonna_2", axis=1, inplace=True)
df.head()

   Year IdCountry  IdCity       City       %  nuova_colonna_1
0  2013        IT    1002    Airasca  0,000%                0
1  2013        IT    1006     Almese  0,000%                0
2  2013        IT    1007    Alpette  0,000%                0
3  2013        IT    1008  Alpignano  0,000%                0
4  2013        IT    1013  Avigliana  0,000%                0

Extra: è possibile rimuovere tante colonne assieme usando il parametro "columns" (senza dover specificare axis) a cui  
si può dare una lista di stringhe che corrisponde alla lista di colonne da eliminare

In [47]:
df["nuova_colonna_2"] = 0 # La ricreiamo un attimo per fare la prova
df.drop(columns=["nuova_colonna_1", "nuova_colonna_2"], inplace=True)
df.head()

   Year IdCountry  IdCity       City       %
0  2013        IT    1002    Airasca  0,000%
1  2013        IT    1006     Almese  0,000%
2  2013        IT    1007    Alpette  0,000%
3  2013        IT    1008  Alpignano  0,000%
4  2013        IT    1013  Avigliana  0,000%

### Operazioni avanzate di modifica

#### APPLY

Molto spesso ci ritroveremo a non dover assegnare a un'intera colonna lo stesso valore, esempio 0 come abbiamo visto prima...  
ma molto più probabilmente ci sarà una "regola" su cui vogliamo basare l'assegnazione per ogni riga.  
Ad esempio, se vogliamo creare una colonna che contiene "Year" diviso 100 per ottenere 2013 --> 13 e quindi questa operazione  
dovrà essere "APPLICATA" per ogni riga di quella colonna, dobbiamo usare .apply( )

Apply non è semplice da capire all'inizio ma è la funzione più potente e utile (assieme a groupy) che userete.  
Iniziamo dicendo che apply richiede come attributo **funzione** e non una semplice variabile.  
Quindi:
- Creiamo una funzione "al volo" tramite lambda --> Se è un operazione semplice che si può scrivere con una sola istruzione.  
- Possiamo anche definire una funzione vera e propria e passargli quella --> Se richiede più operazioni.  
- Magari esiste già una funzione e possiamo direttamente dargli quella (esempio: sum)

Quindi iniziamo nello specificare 2 "versioni":
- apply su una colonna --> Alla funzione verrà passato come attributo una cella per ogni riga e la funzione verrà chiamata tante volte passando cella per cella finché non finiscono le righe.  
- apply sull'intero dataframe --> Alla funzione verrà passato come attributo un'intera riga e la funzione verrà chiamata tante volte quante sono le righe del dataframe.

Proviamo a vederlo "in piccolo"

Creo un DataFrame di prova. Per ora ignorate come lo sto facendo

In [58]:
righe_df_piccolo = [
    {"Colonna_1": 1},
    {"Colonna_1": 2},
    {"Colonna_1": 3}
]
df_piccolo = pd.DataFrame(righe_df_piccolo)
df_piccolo # Questo in ogni caso è il df che usiamo per il test

   Colonna_1
0          1
1          2
2          3

ora proviamo ad usare apply su una funzione che però non fa sostanzialmente nulla se non fare print su quello che riceve come attributo

In [61]:
def printiamo_x(x):
    print(x)
    return x

df_piccolo["Colonna_2"] = df_piccolo["Colonna_1"].apply(printiamo_x)

1
2
3

Ora è più chiaro quello che succede:  
La funzione da noi creata "printiamo_x" fa la stampa del valore che gli viene passato da apply e in questo caso corrisponde al valore contenuto nella Colonna_1 riga per riga. La funzione è quindi chiamata 3 volte perché il data frame contiene 3 righe.

Cosa succede se usiamo .apply() ma non su una colonna specifica ma su tutto il data frame?

In [64]:
def printiamo_x(x):
    print(x)
    return x["Colonna_1"]

df_piccolo["Colonna_3"] = df_piccolo.apply(printiamo_x, axis=1)

Colonna_1    1
Colonna_2    1
Colonna_3    1
Name: 0, dtype: int64
Colonna_1    2
Colonna_2    2
Colonna_3    2
Name: 1, dtype: int64
Colonna_1    3
Colonna_2    3
Colonna_3    3
Name: 2, dtype: int64

Succede che "x" in questo caso è un intera riga non una singola cella della colonna specificata.  
Infatti il return abbiamo potuto specificare di quale colonna restituire il valore di x.  
N.B: axis=1 gli stiamo dicendo "dammi una riga" altrimenti sarebbe stata "dammi una colonna".

Ritornando al nostro esempio:

In [ ]:
def calcolo_IdCity_diviso_10(id_city):    # <--- Riceve la "cella" della colonna id_city.
    return id_city / 100   # <--- La funzione deve restituire il risultato della cella da posizionare in quella riga

df["IdCity_diviso_10"] = df["IdCity"].apply(calcolo_IdCity_diviso_10) # <--- apply chiama n volte la funzione passando una cella per ogni riga
# Alla fine avrà creato questa nuova colonna contenente tutti i risultati delle "return" della funzione
# e la inseriamo dentro una nuova colonna.

# Guardiamo il risultato
df.head()

   Year IdCountry  IdCity       City       %  IdCity_diviso_10
0  2013        IT    1002    Airasca  0,000%             10.02
1  2013        IT    1006     Almese  0,000%             10.06
2  2013        IT    1007    Alpette  0,000%             10.07
3  2013        IT    1008  Alpignano  0,000%             10.08
4  2013        IT    1013  Avigliana  0,000%             10.13

A cosa serve usare apply su un intera riga?  
Ad sempio se ci serve creare la nuova colonna calcolando i valori contenuti su più colonne di quella riga...  
Ad esempio immaginiamo di voler unire IdCountry e City in un unica stringa:

In [ ]:
def uniamo_City_e_country(row):
    return row["IdCountry"] + " - " + row["City"] # <-- Con "row" abbiamo accesso a tutte le colonne della riga

df["City_country"] = df.apply(uniamo_City_e_country, axis=1)
df.head()

   Year IdCountry  IdCity       City       %  IdCity_diviso_10    City_country
0  2013        IT    1002    Airasca  0,000%             10.02    IT - Airasca
1  2013        IT    1006     Almese  0,000%             10.06     IT - Almese
2  2013        IT    1007    Alpette  0,000%             10.07    IT - Alpette
3  2013        IT    1008  Alpignano  0,000%             10.08  IT - Alpignano
4  2013        IT    1013  Avigliana  0,000%             10.13  IT - Avigliana

#### ITERROWS e ITEMS

Un metodo meno consigliato perché MOLTO più lento è .iterrows() che ci permette di scorrere all'interno di un for python le righe del dataframe.  
Quest'operazione sarebbe da utilizzare solo se non esiste modo di effettuare la stessa operazione con .apply() e di solito infatti non si usa, ma per completezza vi mostro che esiste e come si usa:

In [ ]:
for idx, row in df.iterrows():
    # PER NON SCORRERE TUTTO IL DF CHE E' GRANDE CI FERMIAMO AL SECONDO CICLO
    if idx == 2:
        break

    # Facciamo i print per capire cosa contengono
    print("--------------")
    print(f"idx: {idx}")
    print(f"row: {row}")

--------------
idx: 0
row: Year                        2013
IdCountry                     IT
IdCity                      1002
City                     Airasca
%                         0,000%
IdCity_diviso_10           10.02
City_country        IT - Airasca
Name: 0, dtype: object
--------------
idx: 1
row: Year                       2013
IdCountry                    IT
IdCity                     1006
City                     Almese
%                        0,000%
IdCity_diviso_10          10.06
City_country        IT - Almese
Name: 1, dtype: object

Esiste anche la possibilità di usare il DataFrame come se fosse un normale dizionario di python, ma anche in questo caso è fortemente sconsigliato a meno di casi particolari perché troppo lento da eseguire rispetto apply.

In [ ]:
for k, v in df.items():
    # Facciamo i print per capire cosa contengono
    print("--------------")
    print(f"k: {k}")    # <--- La chiave è il nome della colonna che sta scorrendo
    print(f"v:\n{v}")    # <--- Il valore è la lista (in realtà "Series") dei valori di quella colonna
    break

# Scraping

Lo faremo con 3 Metodi:
- Scraping tramite requests della main page + parsing html (tramite BeautifulSoup).
- Scraping tramite selenium.
- Chiamate API (post)

## Requests + BeautifulSoup

Proviamo a fare scraping di qualche video su Immobiliare.it

In [1]:
import requests

from bs4 import BeautifulSoup   # Da installare con pip

Per prima cosa bisogna analizzare il sito manualmente con "Chrome DevTools". Obiettivo:
- Cercare le macro-schede che possano ricondurre a tutti i dati all'interno di _____ (se possibile)
- Identificare le query css selector sia per l'intera scheda sia per i dati al suo interno.
Man mano che abbiamo pianificato quali query useremo, iniziamo a scrivercele in delle variabili qui sotto e poi testiamo!

In [2]:
query_css = 'pre[class="lang-py s-code-block"]'

1. Usiamo requests.get(url) per richiedere al server di fornirci l'html della pagina web.
2. Ora abbiamo la sua risposta ma l'html fornito è una semplice enorme stringa, difficile da utilizzare per ricercare con le nostre query selector. Per questo motivo usiamo BeautifulSoup che è un "parser" in grado di riconoscere del codice html da una stringa e lo struttura per noi.

In [ ]:
url = "https://stackoverflow.com/questions/2612548/extracting-an-attribute-value-with-beautifulsoup"

headers= {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
}
risposta = requests.get(url, headers=headers)
main_page = BeautifulSoup(risposta.text, features="html.parser")
print(main_page.prettify())

Ora che abbiamo la pagina web "parsificata" possiamo utilizzare dei metodi che BeautifulSoup ci mette a disposizione per ricercare all'interno dell'html.  
Uno dei più importanti per il nostro scopo è: .select() e .select_one().  
Select ci permette di inserire una query css selector da ricercare. Select_one cerca solo la prima occorrenza e ci restituisce solo quella, mentre select ce le mette tutte quelle che trova in una lista.  
N.B: Questa cosa è importante perché:
- **select_one** -> Restituisce un oggetto: "Tag"
- **select** -> Restituisce un oggetto: "ResultSet[Tag]", che è una specie di lista di Tag

In [ ]:
result = main_page.select('pre[class="lang-py s-code-block"]')

## Selenium

In [80]:
import os   # Usato solo per ricavare il percorso assoluto della cartella attuale del progetto
import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options

Iniziamo ad impostare alcune opzioni per il webdriver di chrome:  
- **headless** -> Modalità in cui non viene visualizzata la finestra del browser. Consiglio: durante la fase di test e di costruzione dello scraper, meglio non attivare questa modalità in modo da monitorare con esattezza quello che sta accadendo. Una volta ben testato si può aggiungere e far andare lo script in "background".  
- **disable-gpu** -> Tipicamente usa su windows + modalità "headless. Evita eventuali problemi dati dal tentativo di chrome di caricare la grafica anche se non dovrebbe farlo dato che abbiamo specificato "headless".  
- **window-size=1920,1080** -> Si imposta una dimensione della finestra. Impostiamo anche se siamo in modalità "headless" perché: anche se noi non la vediamo, è come se la finestra venga comunque creata e dare una dimensione fissa in cui sappiamo in anticipo quali oggetti vengono visualizzati con quella precisa dimensione ci permette di replicare con esattezza alcune situazioni e azioni (esempio, sappiamo che per trovare un pulsante non dobbiamo fare altro che attendere che la pagina venga caricata ma se la finestra viene creata più piccola, il pulsante non è visibile e necessiterebbe di uno "scroll" verso il basso!)

In [81]:
options = Options()
options.add_argument("--headless")              
options.add_argument("--disable-gpu")           
options.add_argument("--window-size=1920,1080")

Qui abbiamo delle opzioni "extra". Non vi capiterà spesso di usarle ma in questo caso è utile:
- **add_experimental_option** -> Sono delle opzioni particolari, in questo caso aggiungiamo:
    - **download.default_directory** -> Ci permette di scegliere una cartella specifica sul pc dove i file scaricati dal nostro webdriver (il nostro falso browser) debbano essere scaricati in automatico (anziché la classica cartella "download")

In [82]:
prefs = {"download.default_directory": os.path.abspath(".")}
options.add_experimental_option("prefs", prefs)

Creiamo il nostro driver con le nostre opzioni.  
Si può creare il webdriver senza specificare nessuna opzione se non ci servono.

In [83]:
driver = webdriver.Chrome(options=options)

Ora, in modo simile a requests, effettuiamo il .get() della pagina web.  
Quello che succede è che il driver effettua la "richiesta" dell'html della pagina che gli viene restituita e lui, proprio come fa normalmente un browser, la visualizza e ovviamente la tiene in memoria dentro di sé.

In [ ]:
driver.get("https://chatgpt.it/")

Ora procediamo a trovare i vari elementi che ci servono e interagiamoci proprio come faremmo normalemente con un browser.

Usiamo il primo come esempio per spiegare come si procede:
- **try / except** -> Sono dei comandi python che servono a impedire il crash di python se questo avviene all'interno del try.
In pratica si sta "avvertendo" python che: PROVA ad eseguire questo codice... so già che potrebbe "alzare un eccezione" (raise exeption) che solitamente blocca l'esecuzione del programma. Ma visto che ti ho avvertito che questo può succedere, anziché bloccare il programma, esegui il codice in except e continua normalmente. Questo viene fatto perché il metodo di webdriver che utilizzeremo, se non trova l'elemento richiesto è programmato per dare un eccezione ma visto che non sappiamo se un elemento verrà visualizzato con certezza o meno (esempio accettare i coockies di un sito che a volte viene visualizzato e a volte no), gli impediamo di crashare.
- **WebDriverWait** -> Dobbiamo dargli il nostro driver come parametro e un intero che corrisponde ai secondi che deve aspettare al massimo prima di arrendersi. Usiamo questa classe per dare tempo fisico al browser di visualizzare l'elemento che vogliamo cercare. Si potrebbe risolvere anche usando la libreria di python **import time** e usando il comando "time.sleep(n_secondi)" ma in quel caso aspetterebbe un numero di secondi preciso sempre mentre tramite questa sua classe, selenium aspetta massimo il numero di secondi indicato ma se lo trova prima va avanti, quindi è più efficiente.
    - **.until** -> Questo metodo di WebDriverWait ci permette di aspettare "finché" non avviene un qualcosa che specificheremo tramite parametro (esiste anche il .untilnot()).  
- **EC** -> Quest'altra classe ci serve invece per dare una "expected_conditions" quindi possiamo specificare una serie di condizioni da aspettare che si verifichino. Tipicamente usiamo:
    - **.visibility_of_element_located()** -> Che è proprio la funzione che specifica che la condizione da aspettare è che l'elemento, che richiederemo nei suoi parametri, sia visibile nel browser.
- **By** -> E' invece la classe che ci permette di specificare il tipo di "query" da utilizzare per cercare l'elemento. In questo caso specifichiamo:
    - **.CSS_SELECTOR** -> E quindi la query selector che abbiamo già trovato tramite "F12" su google chrome.  

Una volta trovato l'elemento, in base al tipo di elemento trovato si possono eseguire delle azioni.  
In questo caso, abbiamo trovato un "button" e quindi possiamo eseguire il comando **.click()** che simula il click del mouse sul tasto.

In [ ]:
try:
    button_coockies = WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
        (By.CSS_SELECTOR, '.fc-button.fc-cta-consent'))).click()
except:
    print("Non ho trovato schermata coockies")

Capito il primo ora è facile intuire anche tutti gli altri.  
In sostanza quello che abbiamo scritto di fare è:
- Trova e inserisci testo nel box in cui si può digitare il messaggio (.send_keys(message)).  
- Trova e clicca il tasto per dare l'ok (.click()).  
- Trova e clicca il tasto per scaricare la conversazione sotto forma di .txt (.click())
Il tutto dentro il nostro try per evitare il crash del programma.  
Sarebbe più corretto inserire ogni comando all'interno di un proprio try in modo da avere un print specifico per ogni problema che può venir fuori dallo scraper. In altri casi si potrebbe decidere di non usare il try perché quella operazione è imperativa per far proseguire il programma quindi decidiamo di farlo crashare se non riesce ad eseguirla.

In [66]:
try:
    text_box = WebDriverWait(driver, 10).until(EC.visibility_of_element_located(
        (By.CSS_SELECTOR, '.auto-expand.wpaicg-chat-shortcode-typing'))).send_keys("Che tempo farà domani?")

    button = WebDriverWait(driver, 10).until(EC.visibility_of_element_located(
        (By.CSS_SELECTOR, 'span[class="wpaicg-chat-shortcode-send"]'))).click()
    time.sleep(1)
    download_button = WebDriverWait(driver, 10).until(EC.visibility_of_element_located(
        (By.CSS_SELECTOR, 'span[class="wpaicg-chatbox-download-btn"]'))).click()
except:
    print("Qualcosa è andato storto!")

In [79]:
driver.quit()

In realtà si possono effettuare queste operazioni anche senza dover usare "WebDriverWait" in modo più semplice:
- .find_element -> Cerca un elemento tramite:
    - By.CSS_SELECTOR
    - O altri metodi di query (Esempio XPATH)
In questo caso funziona comunque ma ricordarsi che se la pagina è lenta a essere caricata e gli elementi non sono immediatamente visibili, find_element potrebbe non trovare l'elemento e crashare.

In [ ]:
try:
    text_box = driver.find_element(By.CSS_SELECTOR, '.auto-expand.wpaicg-chat-shortcode-typing').send_keys("Che tempo farà domani?")
    button = driver.find_element(By.CSS_SELECTOR, 'span[class="wpaicg-chat-shortcode-send"]').click()
    download_button = driver.find_element(By.CSS_SELECTOR, 'span[class="wpaicg-chatbox-download-btn"]').click()
except:
    print("Qualcosa è andato storto!")

E' possibile cercare più elementi contemporaneamente tramite:
- .find_elements -> In questo caso fare attenzione al fatto che la funzione restituisce una lista di elementi (anche se ne trova solo 1!)
oppure nel caso di EC.visibility_of_all_elements_located (elements!)

A partire da un elemento che viene trovato è possibile continuare ad utilizzarlo per cercarne degli altri al suo interno:

In [ ]:
# Solo a scopo illustrativo, non abbiamo fatto il .get() della pagina tweetter
try:
    tweets = WebDriverWait(driver, 10).until(
                    EC.visibility_of_all_elements_located((By.CSS_SELECTOR, 'article')))    # elements!
except:
    print("No tweets trovati!")

for tweet in tweets:
    try:
        time_stamp = tweet.find_element(By.CSS_SELECTOR, 'time').get_attribute('datetime')
        url_tweet = tweet.find_element(By.CSS_SELECTOR,
                'a[style="color: rgb(113, 118, 123);"]').get_attribute("href")
    except:
        print("Info tweet non trovati")

## API Rest

In [85]:
message = "Ciao ti scrivo da python! Ti saluta requests e BeautifulSoup!"

In [88]:
import requests


url = "https://chatgpt.it/wp-admin/admin-ajax.php"

payload = {
    "_wpnonce": "5b7aac3794",
    "post_id": "106",
    "url": "https://chatgpt.it",
    "action": "wpaicg_chat_shortcode_message",
    "message": message,
    "bot_id": "0",
    "chatbot_identity": "shortcode",
    "wpaicg_chat_history": '[]',
    "wpaicg_chat_client_id":"8FQLM3hp6Q"
}

headers = {
    "Origin": "https://chatgpt.it",
    "Referer": "https://chatgpt.it/",
    "User-Agent": "Mozilla/5.0",
}
response = requests.post(url, data=payload, headers=headers)

re_json = response.json()
re_json["data"]

"Ciao Python! Che bello sentirti! Requests e BeautifulSoup sono due strumenti fantastici per il web scraping e l'estrazione di dati. Se hai bisogno di aiuto con qualche codice o vuoi sapere come usarli al meglio, sono qui per te! 😊"